# Ignore bitwarden binary
tools/bw
# watchdog
tools/watchdog/vendor
tools/watchdog/metadata/snapshot.json
tools/watchdog/metadata/targets.json
tools/watchdog/metadata/timestamp.json
updates/
release/*
.env
/private/root.json
/private/snapshot.json
/private/targets.json
/private/timestamp.json
/.idea/codeStyles/codeStyleConfig.xml
