# Ignore bitwarden binary
tools/bw
# watchdog
tools/watchdog/vendor
updates/
release/*
.env
/private/root.json
/private/snapshot.json
/private/targets.json
/private/timestamp.json
/.idea/codeStyles/codeStyleConfig.xml
