# Github Access Token
ACCESS_TOKEN=

# Passphrase for local key encryption
TUF_TARGETS_PASSPHRASE=""
TUF_TIMESTAMP_PASSPHRASE=""
TUF_SNAPSHOT_PASSPHRASE=""
TUF_ROOT_PASSPHRASE=""

# Key adapter is used to retrieve tuf signing keys from a password safe
KEY_ADAPTER=local

KEY_ADAPTER=keepass
KEY_ADAPTER_KEEPASS_DATABASE_PATH="The path to the .kdbx file"
KEY_ADAPTER_KEEPASS_ADDITIONAL="--key-file <optional path to an key file if used by keepassxc database>"
# each entry must have a corresponding attachment called root.json targets.json snapshot.json timestamp.json depending on the key
KEY_ADAPTER_KEEPASS_ROOT_KEY="Search string for the root key entry ex. '/Joomla/Root Key', starting with Keepass 2.8 this could be UUID:<entryuuid>"
KEY_ADAPTER_KEEPASS_TARGETS_KEY="Search string for the targets key entry ex. '/Joomla/Targets Key', starting with Keepass 2.8 this could be UUID:<entryuuid>"
KEY_ADAPTER_KEEPASS_SNAPSHOT_KEY="Search string for the snapshot key entry ex. '/Joomla/Snapshot Key', starting with Keepass 2.8 this could be UUID:<entryuuid>"
KEY_ADAPTER_KEEPASS_TIMESTAMP_KEY="Search string for the snapshot key entry ex. '/Joomla/Timestamp Key', starting with Keepass 2.8 this could be UUID:<entryuuid>"

### DEBUG

# Use an alternative base branch default main
#GIT_BASE_BRANCH_NAME=test

# Target Branch used in the upstream repo
#GIT_TARGET_BRANCH_NAME=${GIT_BASE_BRANCH_NAME}

# Docker Repository
#DOCKER_IMAGE="joomlaprojects/docker-images:updater"

# Add TUF Parameter for each TUF call
# insecure-plaintext allows to use no PASSPHRASE for keys
#  (useful to see and manipulate key files for debugging)
#TUF_PARAMETERS=" --insecure-plaintext"
