# Github Access Token
ACCESS_TOKEN=
# Target Branch used in the upstream repo
GIT_TARGET_BRANCH_NAME=test

# Passphrase for local key encryption
TUF_TARGETS_PASSPHRASE=""
TUF_TIMESTAMP_PASSPHRASE=""
TUF_SNAPSHOT_PASSPHRASE=""
TUF_ROOT_PASSPHRASE=""

### DEBUG

# Docker Repository
#DOCKER_IMAGE="joomla-tuf"

# Use an alternative base branch default main
#GIT_BASE_BRANCH_NAME=test

# Add TUF Parameter for each TUF call
# insecure-plaintext allows to use no PASSPHRASE for keys
#  (useful to see and manipulate key files for debugging)
#TUF_PARAMETERS=" --insecure-plaintext"
